menu:
	segments: Segmenty
	stored_segments: Uložené segmenty
segment: Segment
back_to_listing: zpět na seznam
back_to_detail: zpět na detail
messages:
	segment_was_created: Segment byl vytvořen.
	segment_was_updated: Segment byl upraven.
	segment_not_found: Segment nebyl nalezen.
fields:
	name: Název
	code: Identifikátor
	created: Vytvořený
	updated: Upravený
	table_name: Zdrojová tabulka
	rows: Počet (přibližně)
	rows_help: Nezobrazuje přesná data. Číslo se aktualizuje v pravidelných intervalech.
	query_fields: Sloupce
	query_string: Databázový dotaz
	segment_group_id: Skupina
	avg_month_payment: Průměrná měsíční platba
	avg_subscription_payment: Průměrný počet plateb za předplatné
	avg_product_payment: Průměrný počet plateb za produkty
	criteria: Kriteria
	version: Verze
required:
	name: Název je nutné vyplnit
	code: Identifikátor je nutné vyplnit
	table_name: Zdrojovou tabulku je nutné vyplnit
placeholder:
	name: například Uživatelé s měsíčním předplatným
	code: například users_with_month_subscription
	table_name: například users
default:
	header: Segmenty
show:
	header: Segment %name%
	edit: Uprav segment
	basic_info: Základní info
	show_data: Zobraz data
	export: Export
	no_data: Segment neobsahuje žádná data
	stats: Statistiky
edit:
	title: Uprav segment %name%
	header: Uprav segment
new:
	header: Nový segment
