menu:
	segments: Segmenty
	stored_segments: Uložené segmenty
segment: Segment
back_to_listing: späť na zoznam
back_to_detail: spať na detail
messages:
	segment_was_created: Segment bol vytvorený.
	segment_was_updated: Segment bol upravený.
	segment_not_found: Segment sa nenašiel.

fields:
	name: Názov
	code: Identifikátor
	created: Vytvorený
	updated: Upravený
	table_name: Zdrojová tabuľka
	rows: "Počet (približne)"
	rows_help: "Nezobrazuje presné dáta. Číslo sa aktualizuje v pravidelných intervaloch."
	query_fields: Stĺpce
	query_string: Databázový dotaz
	segment_group_id: Skupina
	avg_month_payment: Priemerná mesačná platba
	avg_subscription_payment: Priemerný počet platieb za predplatné
	avg_product_payment: Priemerný počet platieb za produkty
	criteria: Kritériá
	version: Verzia

required:
	name: Názov je nutné vyplniť
	code: Identifikátor je nutné vyplniť
	table_name: Zdrojovú tabuľku je nutné vyplniť


placeholder:
	name: napríklad Používatelia s mesačným predplatným
	code: napríklad users_with_month_subscription
	table_name: napríklad users

default:
	header: Segmenty

show:
	header: Segment %name%
	edit: Uprav segment
	basic_info: Základne info
	show_data: Zobraz data
	export: Export
	no_data: Segment neobsahuje žiadne dáta
	stats: Štatistiky

edit:
	title: Uprav segment %name%
	header: Uprav segment

new:
	header: Nový segment
